body {
	background-color: #fafafa;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	font-style: normal;
}

ul { 
	margin: 0; 
	padding: 0; 
	list-style : none;
}

h1 {
	font-size: 140%;
	color: #373737;
	border-bottom: 1px dashed #ccc;
	padding: 2px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0.5px;
		
}
h2 {
	font-size: 120%;
	color: #3F3F3F;
	border-bottom: 1px dashed #ccc;
	padding: 2px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0.5px;
}
h3 {
	font-size: 100%;
	color: #E35F06; 
	border-bottom: 1px dashed #ccc;
	padding: 2px;
	margin-right: 0px;
	margin-left: 10px;
	margin-bottom: 2px;
	margin-top: 0.5px;
}

a {
	color: #f5f5f5;
	text-decoration:underline;
}

.Lien {
	color: #999999;
	font-style: underline;
}

#holder {
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #cccccc;
	background-color: #fff; 
	width: 900px;
}

#header {
	height: 70px;	/* this line does not get picked up by IE bloody thing... */
	background-color: #fff;
	background-image: url(/ScolBoursePHP/images/shad.png);
	background-repeat:no-repeat;
	background-position: top right;
	padding: 0em 0em 0em 0em;
	margin: 0em 0em 0em 0em;
	margin: 0em 0em 0em 0em;
}

#footer {	
	color: #000; 
	padding: 8px;
	border-top: 1px solid #ccc;
	background: #f1f1f1;
}

#footer a {	
	color: #000; 
}

#logo {
	background-image: url(/ScolBoursePHP/images/ScolBourse.png);
	background-repeat: no-repeat;
	background-color: transparent; /* as far as I know this works */
	width: 300px;
	height: 77px;
	padding-top: 1em;
	border-top: 10px solid #fff; /* this is here until I fix the float */
	border-left: 10px solid #fff; /* this is here until I fix the float */
}

/* menu */
#menu {
	width: 100%;
	background-color: #fff;
	border-bottom:1px solid #cccccc;
	padding-top: 9px;
	padding-bottom:7px;
	text-align: right;
}

#menu a {
	height: 0px;
	padding: 7px;
	background: #f5f5f5;
	color: #999999;
	border-left: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	
	text-decoration: none;
	font-weight: normal;
	margin: 2px 2px 0px 2px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
}

#menu a:hover {
	height: 0px;
	padding: 7px;
	background: #ffffff;
	border-left: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom:1px solid #ffffff;
	color: #000000;
	text-decoration:none;
	font-weight:bold;
	margin: 2px 2px 0px 2px;
}

#menu .active {
	height:0px;
	padding: 7px;
	background: #ffffff;
	border-left: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom:1px solid #ffffff;
	/*color: #000000;*/
	color: #666666; 
	text-decoration:none;
	font-weight:bold;
	margin: 2px 2px 0px 2px;
}

#corp {
	padding-left: 3px; 
	padding-right: 3px;		/* some bug here */
	padding-bottom: 3px; 
	padding-top: 0px;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
	border: 1px solid #f0f0f0;
	background-image: url(/ScolBoursePHP/images/shad4.png);
	background-repeat: repeat-y;
	background-position: top right;
}
.Texte{
	font-size: 100%;
	color: #000000;
	font-weight: bold;
	background-color: #DDDDDD;
}

/*** Contenu ***/
#contenu{
}

#contenu a {
	color: #999999;
	text-decoration:underline;
}

#contenu a:hover {
	font-weight:bold;
}

/*** Pour la date ***/
.footTime {
	position:relative;
	display:inline;

	float:right;	
	color:#383838;
	padding: 0em 1em 1em 1em;
}

/*** Pour l'identification de l'utilisateur ***/
.userId {
	position:relative;
	display:inline;
	float:right;		
	padding: 2px 1em 1em 1em;
	
	font-size:12px;
	font-style:italic;
	/*color:#002142;	*/
	 color: #E35F06; 
	/*color:#970000;*/
}

.userId a {
	font-size:10px;
	margin: 0px 0px 0px 5px;
	color: #333333;
	text-decoration:none;	
	font-weight:lighter;
}

.userId a:hover {		
	text-decoration:underline;	
	font-weight:bold;
}

#msgErreur{
	font-size: 100%;
	/*color: #003333;*/
	
	color: #E35F06; 
	
	font-style:italic;
	font-weight:bold;
	border: 0px;
	margin: 1px;
	padding: 1px;
}

/*** formulaires ***/
#forms {
	padding:5px;
	margin:2px;
	font-size:90%;
}

#forms th {
	text-align:left;
	font-weight:bold;
	color:#002953;
	text-transform:uppercase;
	
	padding:10px 10px 10px 0px;	
	margin:5px 5px 5px 0px;
}

#forms .frmLabel {
	text-align:left;
	font-weight:normal;
	background:#F7F7F7;
}

#forms .frmErreur {
	text-align:left;
	font-weight:bold;	
	background:#E35F06; 
	color:#FFFFFF;
}

#forms .frmTitre {
	text-transform:uppercase;	
	background:none; 
	color:#3C3C3C;
	font-weight:bold;
}

#forms .frmSousTitre {
	text-align:left;
	font-weight:bold;	
	background:#EFEFEF; 
	color:#3B3B3B;
	padding:5px 5px 3px 5px;
	margin: 5px 0px 2px 0px;
}

#forms .frmObligatoire {
	color:#E35F06; 
}

#forms input {
	font-size:90%;	
}

/** Pour les listes **/
.liste{
	font-size:100%;
	color:#666666;
	text-align:center;
}

.liste th {
	font-weight:bold;
	text-align:left;
	color:#222222;
	border-bottom:#CCCCCC 1px solid;
	padding:5px;
}

.listePair{
	padding:5px;
	font-weight:NORMAL;
	text-align:left;
	background-color:#F8F8F8;
}

.listeImpair{
	padding:5px;
	font-weight:NORMAL;
	text-align:left;
	background-color:#FFFFFF;
}

.liste a{
	font-weight:bold;
	color:#666666;
}

.hiliterows { 
	background-color: #716F64; 
	color: white; 
}

.hiliterows  a{ 
	background-color: #716F64; 
	color: white;
	text-decoration:underline; 
}


/*** Pour les Rapports  ***/
#divRap{
	margin-left:10%;
	margin-right:10%;
	
}

#listRap{				
	margin-left:40%;
	margin-right:10%;
	padding: 15px;
	border:1px solid #CCCCCC;
	background-color:#F8F8F8;
}
