<patTemplate:tmpl name="FamilleListeSelect">

<link type="text/css" rel="stylesheet" href="/ScolBoursePHP/css/main.css" /> 

<div style='width:100%; overflow:auto;'>
<h2>R&eacute;sultats de la consulte</h2>		
<table align='left' width='95%'>
	<tr>
		<th width='2%'  align='left'>Id</th>
	    <th width='40%' align='left'>Nom,Prenom</th>
		<th width='10%' align='left'>&nbsp;CodePostal</th>
	    <th width='30%' align='left'>&nbsp;Ville</th>
		<th width='18%' align='left'>&nbsp;&nbsp;T&eacute;l&eacute;phone</th>			
	</tr>
</table>
</div>
<div style='width:100%; height:80%; overflow:auto; border-bottom: 1px dashed #ccc;'>	
	<div class="liste">
		<table align="left" width="99%" style="background-color:#EFEFEF;">	
			<patTemplate:tmpl name="ligne">		
			<tr class="{CLASS}" style="font-size:80%;" onmouseover="javascript:soulignerRow(this, 'hiliterows'); return false;" onmouseout="javascript:soulignerRow(this, '{CLASS}'); return false;">						
				<td width="2%"  align="right">
					<a href="javascript:selectFamille({ID})">{NRO}.</a>
				</td>
				<td width="40%" align="left">
					<a href="javascript:selectFamille({ID})">{NOM}</a>
				</td>
				<td width="10%" align="left">
					<a href="javascript:selectFamille({ID})">{CODEPOSTAL}</a>
				</td>
				<td width="30%" align="left">
					<a href="javascript:selectFamille({ID})">{VILLE}</a>
				</td>
				<td width="18%" align="left">
					<a href="javascript:selectFamille({ID})">{TEL}</a>			
				</td>			
			</tr>
			</patTemplate:tmpl>	
		</table>
		<br/>		
	</div> 
</div> 

</patTemplate:tmpl>