<patTemplate:tmpl name="FamilleTmpl">
<script type='text/javascript' language='javascript' src='/ScolBoursePHP/js/FamilleAdmin.js'></script>
<div>		
		
	<!-- Importer/Exporter Famille Section //-->
	<div>
		<h3 style="margin-left:1%">Importer/Exporter des familles</h3>
		<patTemplate:tmpl src="ImpExpFamille.tmpl" parse="on"/><br/><br/><br/>
	</div>
	
	<!-- Gestion Manuel Section //-->
	<div>
		<h3 style="margin-left:1%">Gestion des familles</h3><br/>
		<patTemplate:tmpl src="FamilleSelect.tmpl" parse="on"/><br/>
	</div>
		
</div>	
</patTemplate:tmpl>
