<patTemplate:tmpl name="ImporterTmpl">	
	<div style='width:200; overflow:auto;'>
		<table align='left'>
			<tr>
				<td  align='left'>{MESSAGE}</td>
			</tr>			
		</table>
	</div>
	<div align='center'>
		<a href='/ScolBoursePHP/index.php/{MODULE}'>
			<font color='#131313'>Retourner</font>
		</a>
	</div>
</patTemplate:tmpl>