<patTemplate:tmpl name="ManuelDetail">
 
 <div class="liste">
	 <h2>D&eacute;tail de la liste</h2><br/>
	 <div align="left">
		 <b>Nom Liste:</b> <i>{NOM}</i><br/>
		 <b>Classe concern&eacute;e:</b> <i>{CLA}</i><br/>
	 </div>
	 <br/>
	 <div>
		<a href="#" onclick="closeMessage();return false;">Fermer</a>
	 </div>
</div> 
	 
</patTemplate:tmpl>
