<patTemplate:tmpl name="RapportTmpl">
	<script type='text/javascript' language='javascript' src='/ScolBoursePHP/js/Rapport.js'></script>				
	<br/>
	<table width="90%">
		<tr>
			<td style="border-right:1px solid #CCCCCC;">
				<div id="divRap">
					<form name="frmRapports" method="GET" action="">
						<h3>Cr&eacute;er des rapports</h3><br/>
						<input type="radio" name="test" value="cheque" checked> Chèques<br/>			
						<input type="radio" name="test" value="dossier_non_soldes"> Dossiers non Sold&eacute;<br/>			
						<input type="radio" name="test" value="enveloppe_paiement"> Enveloppes paiement<br/>			
						<input type="radio" name="test" value="facture_achat"> Factures Achat<br/>			
						<input type="radio" name="test" value="invendus"> Invendus<br/>			
						<input type="radio" name="test" value="liste_manuel"> Liste des manuels<br/>			
						<input type="radio" name="test" value="recepisse_depot"> Récépissés de dépôt<br/>			
						<input type="radio" name="test" value="retour_invendus"> Retour invendus<br/><br/>			
						<input type="button" name="ok" value="Editer" onclick="Chercher(this.form.test);return false;">
					</form>		
				</div>
			</td>
			<td>
				<div id="listRap">
					<h3>Rapports d&eacute;j&agrave; cr&eacute;es</h3>
					<ul>
					<patTemplate:tmpl name="ligneRapport">
						<br/><li><a href='/ScolBoursePHP/rapports/general/{FICHIER}' target='_blank' class='Lien'>{FICHIER}</a></li>
					</patTemplate:tmpl>
					</ul>
				</div>
			</td>
		</tr>	
	</table><br/>
</patTemplate:tmpl>
